footer{
    background-color: #843ab8;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    position: absolute;
    bottom: 0px;
}

.footer-nav{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}